*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centrare-tutto{
    margin: 0 auto;
    width: 90%;
}

/* barra sopra logo */

.barra-alto{
    width: 100%;
    height: 50px;
}
.logo-alto{
    width: 100px;
    height: 100%;
}


/* nav bar */

.nav-bar{
    width: 100%;
    height: 70px;
}
.nav-bar-li{
    width: 8px;
    height: 8px;
}
.ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.ul > li{
    float: left;
    padding-right: 30px;
    font-weight: bold;
}
.ul li > img{
    width: 8px;
    height: 8px;
}
.lens{
    width: 30px;
    height: 30px;
}
.puls-acc > span{
    color: white;
    padding: 8px;
    border-radius: 20px;
}
.myplay{
    width: 170px;
    margin-right: 0;
}
.destra-nav{
    width: 432px;
}


/* returnal */

.returnal{
    width: 100%;
    height: 81vh;
    background-image: url(img/jumbo-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.returned-bg{
    width: 100%;
    height: 100%;
    background-image: url(img/jumbo-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.returnal-scritte{
    color: white;
    width: 400px;
}
.return-dentro{
    max-width: 400px;
    margin-left: 5%;
    margin-bottom: 40px;
}
.return-dentro > h1{
    padding-bottom: 20px;
}
.return-dentro > div{
    width: max-content;
    background-color: red;
    padding: 8px;
    border-radius: 20px;
}
.return-dentro > p{
    padding-bottom: 15px;
}
.logo-ret > img{
    width: 200px;
    margin-left: 5%;
    margin-bottom: 20px;
}

/* giochi da 6 */

.giochi6{
    width: 100%;
    height: 30%;
    margin: 0 auto;
}
.giochi6-dentro{
    width: 90%;
}
.giochi-dentro > img{
    max-width: 100%;
    border-radius: 15px;
    border: 2px solid blue;
    padding: 3px;
}

/* play5 */
.play5{
    margin-top: 80px;
}
.play5 div > h6{
    color: blue;
    margin-bottom: 5px;
}
.play5 div > h3{
    margin-bottom: 20px;
}


/* console */

